@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Mate SC', serif;
    }
.menu {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set  navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */  
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.5rem;
}

.menu a {
    color: #FBF6EE;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
.menu a:hover{
    color: #C1C1BF;
}

.about {
    margin-top: 48px;
    min-height: 500px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding:3rem;
    text-align: center;
    background-color: #FBF6EE;
}

.aboutme{
    flex-basis: 40%;
    padding-top: 3.5rem;
}

.about img{
    border-radius: 20%;
}

.about p{
    font-size: 2rem;
    padding-bottom: 2.5rem;
}

h1{ 
    font-size: 3rem;
    padding: 2rem;
    border-right: solid 3px #333;
    white-space: nowrap;
    overflow: hidden;   
    animation:  animated-text 4s steps(29,end) 1s 1 normal both,
                animated-cursor 500ms steps(29,end) infinite; 
  }
  @keyframes 
  animated-text{
    from{width: 0;}
    to{width: 472px;}
  }
  
  /* cursor animations */
  
  @keyframes 
  animated-cursor{
    from{border-right-color: #333;}
    to{border-right-color: transparent;}
  }

.doneProjects{
    background-color: #DFDCCD;
    text-align: center;
    padding-top:3rem;
    font-size: 2rem;
}
.projects {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    padding: 3rem 2rem;
}
.projects img{
    border-radius: 50%;
    margin-bottom: 3rem;
    padding-top: 3rem;
}
.projects button{
    background-color: #DFDCCD;
    border: none;
    font-size: 1.5rem;
}
.projects button:hover{
    font-size: larger;
    transition: 600ms;
}

span{
    font-size: 1rem;
}
li{
    list-style: none;
}

#close1{
    visibility: hidden;
}
#hiddentext1{
    visibility: hidden;
}
#close2{
    visibility: hidden;
}
#hiddentext2{
    visibility: hidden;
}
#close3{
    visibility: hidden;
}
#hiddentext3{
    visibility: hidden;
}
.skills{
    padding:3rem;
    display: flex;
    flex-direction: column;
}
.skills i{
    font-size: 5rem;
    padding: 1.5rem;
}
#skills h2{
    padding-top: 3rem;
    text-align: center;
    font-size: 3rem;
}
.contact{
    background-color: #C1C1BF;
    display: block;
    font-size: 2rem;
    text-align: center;
    padding: 4rem; 
}
.contact h2{
    padding-bottom: 2rem;
}
.contact a{
    text-decoration: none;
    color: #333;
    font-weight: bold;
}